
.content-background {
    margin-right: 25px;
    margin-left: 25px;
    background: rgb(230, 225, 209);
    overflow: auto;
  }

  .background-image{
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

  .title-text{
    font-family: 'Righteous', sans-serif;;
    text-align: center;
    font-size: 6em;
    color: #292E2A;
    text-shadow: 2px 2px #E6D8A9; 
    width: 100%;
    margin: 0;
  }

  .logo-sm{
    font-family: "Righteous";
    font-weight: lighter;
    font-size: 3em;
    color: #E6D8A9;
    text-shadow: 4px 4px #292E2A;
    position: fixed;
    padding: 0rem 2rem;
    float: none;
  }
p{
  margin: 25px;
}

a:link {
  color: #292E2A;
}

a:hover {
  color: pink;
}



  /* font-family: "Righteous";
  font-weight: lighter;
  font-size: 5em;
  color: #E6D8A9;
  text-shadow: 4px 4px #292E2A; 
  position: fixed;
  padding: 0rem 5rem; */