* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

main {
  font-family: "Righteous", sans-serif;
}

.landing {
  min-height: 100vh; 
  /* background: url("../images/bibimbap_bowl.jpg");
  background-size: cover; */
}


#logo{
  font-family: "Righteous";
  font-weight: lighter;
  font-size: 5em;
  color: #E6D8A9;
  text-shadow: 4px 4px #292E2A; 
  position: fixed;
  padding: 0rem 5rem;
}
.rice-logo{
  width: 75px;
  fill: #E6D8A9;
}

.egg-icon{
  color: #E6D8A9;
  padding: 0;
}
.big-text{
  font-family: 'Righteous', sans-serif;;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  font-size: 6em;
  color: #292E2A;
  text-shadow: 2px 2px #E6D8A9; 
  width: 100%;
}

.background-image{
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -3;
  position: fixed;
  /* -webkit-filter: grayscale(1);
  filter: grayscale(1); */
}
/* .big-text{
  font-family: 'Righteous', sans-serif;;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  font-size: 4em;
  text-shadow: 3px 3px #A35523;
  color:#261B1C;

} */




/* button css */

.box{
  /* position:absolute; */
  /* text-align: center;
  align-content: center; */
  text-shadow: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative; 
  top:0;
  left:0;
  padding:10px 20px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
  font-size: 50%;
}

.btn-white{
  background: #E6D8A9;
  color:#292E2A;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  transform:translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn-white::after {
    background: #E6D8A9;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

/* Intro animation */

.intro{
  background: #958877;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.intro-text{
  color: #292E2A;
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.slider{
  background: #A7B0A7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide{
  background: #958877;
  overflow: hidden;
}  

.hide span{
  transform: translateY(100%);
  display: inline-block;
}

/* Transition animation */
ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin-right:auto;
}

ul.transition {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

ul.transition li{
  transform: scaleY(0);
  background: #292E2A;
  width: 20%;
}

.center-desc{
  text-align: center;
  padding-top: 5rem;
}

.nav {
  padding-bottom: 2rem;
}

.carousel{
  margin-left: 2rem;
  margin-right: 2rem;
}
  


/* .carousel {
  width:640px;
  height:640px;
  position: absolute;
} */

/* @media (min-width: 600px) {
  .box{
    text-shadow: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -30%); 

  }

  .big-text{
    font-family: 'Righteous', sans-serif;;
    position: absolute;
    top: none;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    font-size: 6em;
    /* text-shadow: 3px 3px #A35523; */
    /* color:#261B1C;
    width: 75%;
  }
}   */

